#pagina{
	border: 5px solid black;
}
#banner{
	background-color: #f0f8ff;
	margin: 10px 15px;
}
#principal{
	background-color: #ffe4c4;
	border: 2px dotted black;
	display: block;
	height: 300px;
	margin: 10px 15px;
}
#rodape{
	background-color: #fff68f;
	margin: 10px 15px;
}
#menu_lateral{
	background-color: #faebd7;
	border: 1px solid blueviolet;
	float: left;
	width: 20%;
	margin: 20px;
}
#conteudo{
	background-color: #ffdab9;
	float: left;
	width: 75%
	margin: 20px 0px 0px 20px;
}